*{
    text-align: center;
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 100%);
    overflow-wrap: break-word;
}

body{
    background-image: url("./assets/images/background-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    height: 100vh;
    overflow: hidden;
}

section, #emailAddressSpan, #bottom-desktop{ display: none; }

p{
    opacity: 0.7;
    width: 90%;
    margin: 5%;
}

label{
    border-radius: 1cm;
    border-style: dotted;
    margin: 5px;
}

label, input{
    border-width: 3px;
    border-color: hsl(0, 0%, 100%);
    padding: 0.5rem;
    cursor: pointer;
}

label, input, #ticket{ background-color: #33334d; }

form, .row, .column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

form{
    gap: 0.5rem;
    flex-wrap: wrap;
    margin: 20px;
}

legend{ opacity: 0.9; }

legend, span{ margin: 10px 0; }

legend, input{ text-align: left; }

input{
    border-radius: 1mm;
    font-size: 110%;
    background: none;
    border-style: solid;
}

button{
    background-color: hsl(7, 71%, 60%);
    color: hsl(248, 70%, 10%);
    padding: 1rem;
    border-radius: 5mm;
    width: 60%;
}

button:hover{
    background-color: gold;
    transition: 1s;
}

a, .displaysFullName{
    background: linear-gradient(to right hsl(7, 86%, 67%) hsl(0, 0%, 100%));
    background-clip: text;
}

a:hover{
    background: linear-gradient(to right gold hsl(7, 86%, 67%));
    background-clip: text;
    transition: 1s;
}

.row{
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.attribution {
    margin: 10px;
    font-size: 80%;
}

.error{ color: tomato; }

.displaysEmailAddress{ color: hsl(7, 86%, 67%); }

#userPhotoSpan, #emailAddressSpan{
    font-size: small;
    opacity: 0.6;
}

#emailAddressSpan.error{
    display: flex;
    gap: 10px;
}

#pattern-lines, #squiggly-line-top, #bottom-mobile-tablet, #bottom-desktop{
    position: absolute;
    left: 0;
    z-index: -1;
}

#pattern-lines, #squiggly-line-top{ top: 0; }

#squiggly-line-top{
    left: auto;
    right: 0;
}

#bottom-mobile-tablet, #bottom-desktop{ bottom: 0; }

#ticket, #ticket::before, #GeneratedTicket::after{ border-radius: 10px; }

#ticket{
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #33334d;
    height: max-content;
    position: relative;
}

#ticket::before, #ticket::after {
    content: "";
    position: absolute;
    }

#ticket::before{ /* White border */
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid #fff;
}

#ticket::after { /* Slightly darker background */
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #222;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 100%); /* Rounded rectangle shape */
  }

@media screen and (min-width: 768px) {

    body{
        background-image: url("./assets/images/background-tablet.png");
        font-size: 150%;
    }

    button{
        font-size: 110%;
        width: 45%;
    }
}

@media screen and (min-width: 1040px) {

    body{ background-image: url("./assets/images/background-desktop.png"); }

    #bottom-mobile-tablet{ display: none; }

     #bottom-desktop{ display: block; }
}
