*{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    color: hsl(0, 0%, 100%);
}

body{
    position: relative;
    padding: 1%;
    height: 100vh;
    background-position: center;
    background-image: url("./assets/images/background-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

span{
    opacity: 0.7;
    font-size: 80%;
}
  
button{
    background-color: hsl(7, 88%, 67%);
    color: hsl(248, 70%, 10%);
    padding: 1.5rem;
}

button:hover{
    background-color: gold;
    border: 3px solid black;
    outline: 3px solid aliceblue;
}
  
button, label, form > *{
    cursor: pointer;
    font-size: 125%;
}

button, label{ border-radius: 1cm; }

label{
    outline: 3px dotted hsl(0, 0%, 100%);
    padding: 5%;
}

label:hover{ background-color: hsl(0, 0%, 100% 0.4); }

button:hover, label:hover, input:hover, a:hover{ transition: all 0.2s ease-in-out; }

form > *{ margin: 1%; }

a, .displaysFullName, #displaysEmailAddress{
    background: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.row, .column, #form.current, #ticket.current{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row, .column{ justify-content: center; }

.row { flex-direction: row; }

.error { color: tomato; }

#form, #ticket{
    justify-content: space-around;
    height: 80%;
    display: none;
}

#GeneratedTicket, #GeneratedTicket::before, #GeneratedTicket::after{ border-radius: 10px; }

#GeneratedTicket{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #333;
    height: max-content;
    position: relative;
}

#GeneratedTicket::before, #GeneratedTicket::after {
    content: "";
    position: absolute;
    }

#GeneratedTicket::before{ /* White border */
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid #fff;
}

#GeneratedTicket::after { /* Slightly darker background */
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #222;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 100%); /* Rounded rectangle shape */
  }

  #pattern-lines, #squiggly-top, .desktop, .mobile{
    position: absolute;
    z-index: -1;
}
  
  #pattern-lines{
      top: 0;
      width: 100%;
  }

   .desktop, .mobile{/* down decoy */
    left: 5px;
    bottom: 5px;
    width: min-content;
}

#squiggly-top{
    top: 10px;
    right: 5px;
}

  .desktop, #imageInput{ display: none; }

  @media screen and (min-width: 768px) {
    .mobile{ display: none; }
    .desktop{ display: inline; }
    *{ font-size: larger; }
    body{ background-image: url("./assets/images/background-tablet.png"); }
  }

  @media screen and (min-width: 1400px) { body{ background-image: url("./assets/images/background-desktop.png"); } }